@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@import '../utils/variables';

body {
    font-family: $sans-serif-font-family;
    text-align: left;
    font-size: 0.875rem;
}

.product-type {
    color: map-get($neutral, dark-grayish-blue);
    font-size: 0.6875rem;
    letter-spacing: 0.25rem;
}

.product-name {
    font-family: $serif-font-family;
    font-size: 1.75rem;
    color: map-get($neutral, very-dark-blue);
}

.product-desc {
    color: map-get($neutral, dark-grayish-blue);
    line-height: 1.5;
}

.new-price {
    @extend .product-name;
    color: map-get($primary, dark-cyan);

    &::after {
        font-size: 0.75rem;
        font-family: $sans-serif-font-family;
        color: map-get($neutral, dark-grayish-blue);
    }
}
