@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
@import 'base/resets', 'base/typography', 'utils/variables', 'components/buttons';

body {
    background-color: map-get($primary, cream);
}

.card {
    width: 35rem;
    background-color: map-get($neutral, "white");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;


    .product-img {
        width: 17.5rem;
        border-radius: 0.625rem 0 0 0.625rem;
    }

    .product-details {
        padding: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .new-price {
            &::after {
                content: '$169.99';
                text-decoration: line-through;
            }
        }
    }
}

@media (max-width: 600px) {
    .card {
        flex-direction: column;
        width: 20.25rem;

        .product-img {
            width: 100%;
            content: url("../images/image-product-mobile.jpg");
            border-radius: 0.625rem 0.625rem 0 0;
        }

        .product-type {
            margin-top: 0.5rem;
        }

        .product-name {
            margin: 1rem 0;
            max-width: 100%;
        }
    }
}
