$primary: (
    "very-dark-blue": #1d1e35,
    "soft-red": #f57c57,
    "soft-violet": #af67e9,
    "soft-blue": #6565e7
);

$neutral: (
    "very-dark-grayish-blue": #4a4b5e,
    "dark-grayish-blue": #787887,
    "light-grayish-blue": #e7e7e9
);

$font-family: 'Kumbh Sans', sans-serif;