@import 'base/resets', 'base/typography', 'utils/variables', 'components/dropdown';

body {
    background: linear-gradient(to bottom, map-get($primary, soft-violet), map-get($primary, soft-blue));
    position: relative;
}

.card {
    background-color: white;
    max-width: 90%;
    width: 63.5rem;
    height: 35rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 1.5rem;
    padding-right: 3%;

    .images {

        .hidden {
            display: none;
        }

        .box-img.desktop {
            position: absolute;
            top: 14rem;
            left: -7.5rem;
            z-index: 2;
        }

        .wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .img {
                
                &.desktop {
                    max-width: none;
                    width: 30rem;
                    position: absolute;
                    top: 5.5rem;
                    left: -5.5rem;
                    z-index: 1;
                }

                &.mobile {
                    width: 16.75rem;
                    position: absolute;
                    top: -7.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
    
            .bg-img {
                &.desktop {
                    max-width: none;
                    width: 55rem;
                    position: absolute;
                    top: -13rem;
                    left: -30.5rem;
                }

                &.mobile {
                    @extend .img, .mobile;
                    top: 0rem;
                }
            }
        }
    }

    .accordion {
        margin: 15% 8% 15% 0;

        .container {
            margin: 0.9rem 0;

            &:hover {
                cursor: pointer;
            }

            &.active {
                .label {
                    font-weight: 700;
                }

                .arrow-icon {
                    transform: rotate(180deg);
                }

                .content {
                    height: 100%;
                }
            } 

            .label {
                &:hover {
                    color: map-get($primary, soft-red);
                }
                
                .arrow-icon {
                    position: relative;
                    top: 0.45rem;
                    right: 1rem;
                    width: 0.75rem;
                    float: right;
                }
            }

            .content {
                height: 0;
                overflow: hidden;
            }
        }

        hr {
            border: 0;
            border-top: 1px solid map-get($neutral, light-grayish-blue);
            margin: 0;
        }
    }
}

@media screen and (max-width: 945px) {
    .card .images {

        .box-img.desktop {
            width: 8rem;
            top: 15rem;
            left: -5.25rem;
        }

        .wrapper { 
            .img.desktop {
                width: 24.5rem;
                top: 7rem;
            }
    
            .bg-img.desktop {
                width: 47rem;
                top: -9.75rem;
                left: -28rem;
            }
    
        }
    }      
}

@media screen and (max-width: 720px) {
    .card {
        grid-template-columns: none;
        grid-template-rows: 25% 75%;
        padding: 0;
        height: 36rem;

        .images {
            .wrapper {
                overflow: visible;
            }
        }
        
        .accordion {
            margin: 0 6% 12% 6%;

            h1 {
                text-align: center;
            }

            .label {
                font-size: 0.875rem;
            }

            .content p {
                font-size: 0.5rem;
            }
        }
    }
}